# LaTeX Hilfsdateien
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex(busy)
*.synctex.gz
*.out

# DVI und PostScript Dateien
*.dvi
*.out.ps

# Alle PDFs ignorieren, außer Deckblatt.pdf
*.pdf
!Deckblatt.pdf

!0-00_deckblatt_uebersicht.pdf
!0-01_Allgemeines.pdf
!3-01_San-Dienst.pdf
!4-01_WRD.pdf
!app-din-13155.pdf